@import 'https://fonts.googleapis.com/css?family=Fjalla+One';

html, body {
  margin: 0;
  padding: 0;
}
body {
  background: #062b44;
  font-family: 'Fjalla One', sans-serif;
  color: #25929c;
  font-size: 20px;
}
input, select {
  border: none;
  background: #f3595b;
  color: #fdc6bf;
  width: 150px;
  height: 40px;
  margin: 10px 0;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
}
button {
  background: #e8de53;
  color: #FFF;
  font-weight: bold;
  border: 0;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 50px;
  padding: 10px;
  border-bottom: 2px solid #FFF;
  border-radius: 5px;
}
button:disabled {
  opacity: 0.8;
}
header {
  padding: 1rem;
  color: #fff;
  text-align: center;
}
main {
  text-align: center;
}
.intro p {
  border-bottom: 2px solid #02394f;
  padding-bottom: 20px;
  display: inline-block;
  width: 50%;
  margin: 0 auto 20px;
}
.intro form {
  margin: 50px;
  color: #e8de53;
}
.intro form label, #footMeasurements input {
  color: #f3595b;
  display: block;
}
#footMeasurements {
  display: none;
  position: relative;
  max-width: 500px;
  margin: 0 auto 75px;
}
#footMeasurements input[type=text] {
  font-size: 30px;
  position: absolute;
  background: transparent;
}
#footMeasurements .leftLength, #footMeasurements .rightLength {
  top: 50%;
  left: 10px;
}
#footMeasurements .rightLength {
  left: auto;
  right: 10px;
}
#footMeasurements .leftWidth, #footMeasurements .rightWidth {
  bottom: -50px;
}
#footMeasurements .leftWidth {
  left: 110px;
}
#footMeasurements .rightWidth {
  right: 110px;
}
#shoeSize {
  color: #e8da55;
  font-size: 50px;
  margin-bottom: 50px;
}
#shoeSize p {
  font-size: 25px;
  color: #FFF;
  margin-bottom: 5px;
}
